html {
  width:100%;
  height:100%;
}
body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

.modal {
  position: fixed;
  height: 90%;
  right: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  visibility: hidden;
  opacity:0;
  -webkit-transition:opacity 0.4s linear;
  -moz-transition:opacity 0.4s linear;
  -ms-transition:opacity 0.4s linear;
  -o-transition:opacity 0.4s linear;
  transition:opacity 0.4s linear;
}
.modal.show {
  visibility: visible;
  opacity:1;
}

.valign-table {
  display: table;
  table-layout: fixed;
}
.valign-cell {
  display: table-cell;
  vertical-align: middle;
}

#memory--app-container {
  background-color: #0061a8;
  width:100%;
  height:90%;
}

.memory--menu-bar {
  width:100%;
  background-color: #222;
  height:10%;
  display:table;
}

.memory--menu-bar .inner {
  display:table-cell;
  vertical-align:middle;
}
.memory--menu-bar .left {
  text-align: left;
  float:left;
  width:50%;
}
.memory--menu-bar .right {
  text-align: right;
  float:right;
  width:50%;
}
.memory--app-name {
  color:#ccc;
  font-size:26px;
  margin:0;
  padding:1px 4px;
  text-transform: uppercase;
  font-family: "Courier New";
  letter-spacing: 2px;
}
@media screen and (max-width: 480px) {
  .memory--app-name {
    font-size:16px;
  }
}

#memory--settings-icon {
  height: 24px;
  display: block;
  padding:4px 8px;
  float: right;
}

#memory--end-game-modal .wrapper {
  background-color: rgba(0, 0, 0, .86);
  text-align: center;
  color:#ccc;
  padding:8px 0;
}
#memory--end-game-modal h2,
#memory--end-game-modal h3 {
  margin:0;
  margin-bottom: 4px;
}

#memory--settings-modal {
  background-color: rgba(0, 0, 0, .86);
  z-index: 4;
}
#memory--settings-modal form {
  min-width:240px;
  width:50%;
  margin:0 auto;
  text-align: center;
  color:#ccc;
}

.memory--settings-label {
  margin:8px 0;
}

#memory--settings-grid,
#memory--settings-reset {
  width:100%;
  margin-bottom:16px;
  font-size:18px;
  background:transparent;
  color:#ccc;
  height:50px;
  text-align: center;
}

#memory--settings-grid option {
  padding-top:5px;
  padding-bottom:5px;
}

#memory--settings-reset {
  border-radius:5px;
  border:2px solid #ccc;
  cursor: pointer;
}

#memory--cards {
  margin:0 auto;
  padding:0;
  height:100%;
  list-style-type: none;
  list-style-image: none;
  position:relative;
}
/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  float:left;
}

/* flip the pane when clicked */
.flip-container.clicked .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip-container.clicked .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

/* flip speed goes here */
.flipper {
  width:90%;
  height:90%;
  margin:0% auto;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  top:5%;
  bottom:5%;
}

/* hide back of pane during swap */
.front, .back {
  width:100%;
  height:100%;
  display: block;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background-color: #e12d00;
  border-radius: 5%;
  background-image: url(../images/cover.png);
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: contain;

}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background-color: #fff;
  border-radius: 5%;
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.back.card-1 {
  background-image: url(../images/numbers/1.png);
}
.back.matching.card-1 {
  background-image: url(../images/numbers/one.png);
}
.back.card-2 {
  background-image: url(../images/numbers/2.png);
}
.back.matching.card-2 {
  background-image: url(../images/numbers/two.png);
  }
.back.card-3 {
  background-image: url(../images/numbers/3.png);
 }
.back.matching.card-3 {
  background-image: url(../images/numbers/three.png);
  }
.back.card-4 {
  background-image: url(../images/numbers/4.png);
 }
.back.matching.card-4 {
  background-image: url(../images/numbers/four.png);
  }
 .back.card-5 {
  background-image: url(../images/numbers/5.png);
 }
.back.matching.card-5 {
  background-image: url(../images/numbers/five.png);
  }
.back.card-6 {
  background-image: url(../images/numbers/6.png);
 }
.back.matching.card-6 {
  background-image: url(../images/numbers/six.png);
 }
.back.card-7 {
  background-image: url(../images/numbers/7.png);
 }
.back.matching.card-7 {
  background-image: url(../images/numbers/seven.png);
  }
.back.card-8 {
  background-image: url(../images/numbers/8.png);
 }
.back.matching.card-8 {
  background-image: url(../images/numbers/eight.png);
  }
.back.card-9 {
  background-image: url(../images/numbers/9.jpg);
 }
.back.matching.card-9 {
  background-image: url(../images/numbers/nine.png);
  }
.back.card-10 {
  background-image: url(../images/numbers/10.jpg);
 }
.back.matching.card-10 {
  background-image: url(../images/numbers/ten.png);
  }
.back.card-11 {
  background-image: url(../images/numbers/11.png);
 }
.back.matching.card-11 {
  background-image: url(../images/numbers/eleven.png);
  }
.back.card-12 {
  background-image: url(../images/numbers/12.png);
 }
.back.matching.card-12 {
  background-image: url(../images/numbers/twelve.png);
  }
.back.card-13 {
  background-image: url(../images/numbers/13.jpg);
 }
.back.matching.card-13 {
  background-image: url(../images/numbers/thirteen.png);
  }
.back.card-14 {
  background-image: url(../images/numbers/14.png);
 }
.back.matching.card-14 {
  background-image: url(../images/numbers/fourteen.png);
  }
.back.card-15 {
  background-image: url(../images/numbers/15.png);
 }
.back.matching.card-15 {
  background-image: url(../images/numbers/fifteen.png);
  }
.back.card-16 {
  background-image: url(../images/numbers/16.png);
 }
.back.matching.card-16 {
  background-image: url(../images/numbers/sixteen.png);
  }
.back.card-17 {
  background-image: url(../images/numbers/17.png);
 }
.back.matching.card-17 {
  background-image: url(../images/numbers/seventeen.png);
  }
.back.card-18 {
  background-image: url(../images/numbers/18.png);
 }
.back.matching.card-18 {
  background-image: url(../images/numbers/eighteen.png);
  }
.back.card-19 {
  background-image: url(../images/numbers/19.png);
 }
.back.matching.card-19 {
  background-image: url(../images/numbers/nineteen.png);
  }
.back.card-20 {
  background-image: url(../images/numbers/20.jpg);
 }
.back.matching.card-20 {
  background-image: url(../images/numbers/twenty.png);
  }
*/
